@charset "UTF-8";

body{
    background-color: rgb(37, 37, 37);
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: 100%;
}

header > div#nome > h1 {
    margin-top: 10%;
    font-size: 14rem;
    line-height: 1.25;
}

header > div#nome > p {
    font-size: 4rem;

}

header > div#linkedin{
    display: inline-block;
    background-color: rgb(70, 69, 69);
    width: 23vw;
    height: 12vh;
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 45%;
    font-size: 5rem;
    text-align: center;
    margin-top: 8%;
    
}

a {
    color: white;
    text-decoration: none;
}

section {
    display: inline-block;
    width: 101%;
    height: 110%;
}

section > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    color: rgb(241, 185, 42);
    padding-top: 35px;
    padding-left: 120px;
    margin-bottom: 70px;
}

section > p , li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: white;
    padding-left: 50px;
    padding-bottom: 35px;
    line-height: 1.5;
}


section#apres{
    background-color: rgb(70, 70, 70);
    text-align: justify;
    margin-left: -0.2%;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;

}
section#exp{
    background-color: rgb(109, 109, 109);
    text-align: justify;
    margin-left: -0.2%;
}
section#exp > h2 , p {
    margin-left: 2%;
}

section#proj {
    background-color: rgb(59, 57, 57);
    margin-left: -0.2%;
    text-align: center;

}

section#proj > div {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 30%;
    height: 30%;
    text-align: center;
    font-size: 5rem;
    margin: 1%;
    border: 8px goldenrod solid;
}



section#curso {
    background-color: rgb(70, 69, 69);
    text-align: right;
}
section#curso > li , h2 , p{
    margin-right: 5%;
}